<span class="monitor_element">
  <label htmlFor="keywords">Enter keywords</label>
  <p-chips [(ngModel)]="keywords" separator=" "></p-chips>
</span>

<span class="monitor_element">
  <label htmlFor="seller">Seller</label>
  <input pInputText id="seller" aria-describedby="seller-help" [(ngModel)]="seller" />
  <small id="seller-help">Seller name has the be an exact match.</small>
</span>

<span class="monitor_element">
  <label htmlFor="telegramID">Telegram User ID</label>
  <input
    type="number"
    pInputText
    id="telegramID"
    aria-describedby="telegramID-help"
    [(ngModel)]="telegramID"
  />
  <small id="telegramID-help"
    >For help needed
    <a href="https://www.alphr.com/find-chat-id-telegram/" target="_blank"
      >click here</a
    ></small
  >
</span>

<span class="monitor_element">
  <label htmlFor="email">Email Address</label>
  <input
    type="text"
    pInputText
    id="email"
    aria-describedby="email-help"
    [(ngModel)]="email"
  />
  <small id="email-help"
    >Note that alerts will be sent to the email address provided</small
  >
</span>

<span class="monitor_element">
  <label htmlFor="minPrice">Minimum Price</label>
  <input type="number" pInputText [(ngModel)]="minPrice" />
  <p-slider
    [(ngModel)]="minPrice"
    [min]="0"
    [max]="2000"
    class="w-full"
  ></p-slider>
</span>

<span class="monitor_element">
  <label htmlFor="maxPrice">Maximum Price</label>
  <input type="number" pInputText [(ngModel)]="maxPrice" />
  <p-slider
    [(ngModel)]="maxPrice"
    [min]="0"
    [max]="2000"
    class="w-full"
  ></p-slider>
</span>

<span class="monitor_element">
  <label htmlFor="conditions">Condition</label>
  <p-selectButton
    [options]="conditionOptions"
    [(ngModel)]="selectedConditions"
    [multiple]="true"
  ></p-selectButton>
</span>

<span class="monitor_element">
  <label htmlFor="excludeKeywords">Exclude Keywords</label>
  <p-chips [(ngModel)]="excludeKeywords" separator=" "></p-chips>
</span>

<button
  pButton
  type="button"
  label="Save"
  (click)="saveMonitor()"
  [disabled]="!isValidMonitor() || isRequesting"
></button>
