<!-- Quick Info Div -->
<div id="quick-info" class="info-section">
  <div id="quick-info-left">
    <h1 id="quick-info-title">
      Discover Rare eBay<br />Finds <span class="highlight">Instantly.</span>
    </h1>
    <p id="quick-info-description">
      eSentry alerts you via Telegram about new eBay listings matching your
      customized preferences, ensuring you never miss out of the perfect deal.
    </p>
    <asl-google-signin-button
      class="quick-info-signin"
      type="standard"
      size="large"
      shape="pill"
      text="continue_with"
      width="300"
    ></asl-google-signin-button>
    <button class="auth-button" routerLink="/signin">Sign In</button>
    <button class="auth-button" routerLink="/register">Register</button>
  </div>
  <div id="quick-info-right">
    <img
      src="assets/esentry_icon.svg"
      alt="eSentry Icon"
      id="quick-info-icon"
    />
    <p id="quick-info-icon-text">eSentry</p>
  </div>
</div>

<!-- Setting Up Monitor Div -->
<div id="setting-up-monitor" class="info-section">
  <div id="monitor-left">
    <h2 id="monitor-title">Setting Up Your Monitor</h2>
    <img src="assets/new_monitor.svg" alt="New Monitor" id="monitor-image" />
  </div>
  <div id="monitor-right">
    <p id="monitor-description">
      Simply click ‘Add New Monitor’ once logged in to access this customizable
      monitor interface. Here, you can fine tune your ideal preferences.
    </p>
  </div>
</div>

<!-- Stay Informed Div -->
<div id="stay-informed" class="info-section">
  <div id="informed-left">
    <p id="informed-description">
      eSentry sends you real-time updates through our automated Telegram Bot.
      Each alert includes relevant information of the new listing, along with
      the direct link to eBay - all conveniently delivered to your phone.
    </p>
  </div>
  <div id="informed-right">
    <h2 id="informed-title">Stay Informed On-the-Go</h2>
    <img
      src="assets/telephone_telegram.svg"
      alt="Telephone"
      id="informed-image"
    />
  </div>
</div>
