<!-- Quick Info Div -->
<div
  id="quick-info"
  class="info-section flex flex-wrap sm:flex-nowrap align-items-stretch p-4"
>
  <div
    class="quick-info-left flex flex-column justify-content-start w-12 sm:w-6"
  >
    <h1 class="quick-info-title">
      Discover Rare eBay<br />Finds <span class="highlight">Instantly.</span>
    </h1>
    <p class="quick-info-description">
      eSentry alerts you via Telegram about new eBay listings matching your
      customized preferences, ensuring you never miss out of the perfect deal.
    </p>
    <asl-google-signin-button
      class="quick-info-signin"
      type="standard"
      size="large"
      shape="pill"
      text="continue_with"
      width="300"
    ></asl-google-signin-button>
  </div>
  <div
    class="quick-info-right flex flex-column align-items-center justify-content-center w-12 sm:w-6"
  >
    <img
      src="assets/esentry_icon.svg"
      alt="eSentry Icon"
      class="quick-info-icon"
    />
    <p class="quick-info-icon-text">eSentry</p>
  </div>
</div>

<!-- Setting Up Monitor Div -->
<div
  id="setting-up-monitor"
  class="info-section flex flex-wrap sm:flex-nowrap align-items-stretch p-4"
>
  <div
    class="monitor-left flex flex-column align-items-center justify-content-center w-12 sm:w-6"
  >
    <h2 class="monitor-title">Setting Up Your Monitor</h2>
    <img src="assets/new_monitor.svg" alt="New Monitor" class="monitor-image" />
  </div>
  <div
    class="monitor-right flex flex-column align-items-center justify-content-center w-12 sm:w-6"
  >
    <p class="monitor-description">
      Simply click ‘Add New Monitor’ once logged in to access this customizable
      monitor interface. Here, you can fine tune your ideal preferences.
    </p>
  </div>
</div>

<!-- Stay Informed Div -->
<div
  id="stay-informed"
  class="info-section flex flex-wrap-reverse sm:flex-nowrap align-items-stretch p-4"
>
  <div
    class="informed-left flex flex-column align-items-center justify-content-center w-12 sm:w-6"
  >
    <p class="informed-description">
      eSentry sends you real-time updates through our automated Telegram Bot.
      Each alert includes relevant information of the new listing, along with
      the direct link to eBay - all conveniently delivered to your phone.
    </p>
  </div>
  <div
    class="informed-right flex flex-column align-items-center justify-content-center w-12 sm:w-6"
  >
    <h2 class="informed-title">Stay Informed On-the-Go</h2>
    <img
      src="assets/telephone_telegram.svg"
      alt="Telephone"
      class="informed-image"
    />
  </div>
</div>
