#quick-info, #setting-up-monitor, #stay-informed {
  height: 100vh;
}

.quick-info-title, .monitor-title, .informed-title {
  color: #3c6e71; /* Teal color */
  font-weight: bolder;
  font-size: 5vw; /* Adjust font size as needed */
}

.quick-info-title .highlight {
  color: #f4743b; /* Orange color */
}
.quick-info-description {
  color: #3c6e71;
}
.monitor-description, .informed-description {
  color: #ffffeb;
  box-shadow: 0 0.5vw 0.5vw #ffffebba;
}
.quick-info-description, .monitor-description, .informed-description {
  font-size: 2vw; /* Adjust font size as needed */
  border-radius: 15px;
  padding: 3vw;
  margin: 1vw;
  text-align: left;
  align-items: center;
  justify-content: center;
  max-height: 45vh;
}
.quick-info-icon {
  max-width: 20vw;
  max-height: 20vw;
  object-fit: contain;
}
.quick-info-icon, .informed-image, .monitor-image {
  height: auto;
  width: auto;
  object-fit: contain;
}

.quick-info-icon-text {
  color: #3c6e71; /* Teal color */
  font-weight: bolder;
  font-size: 6vw;
}

#quick-info {
  background-color: #ffffeb; /* Cream color */
}

#setting-up-monitor {
  background-color: #f4743b; /* Orange color */
}

#stay-informed {
  background-color: #3c6e71; /* Dark teal color */
}

.monitor-left, .monitor-right, .informed-left, .informed-right {
  flex-basis: 50%; /* Allocate 50% width to each side */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content within each section */
}

.monitor-title, .informed-title {
  text-align: center;
  font-size: 2.5vw;
  color: #ffffeb; /* Off-white color */
}

.informed-description {
  background-color: #f4743b; /* Orange color */
  box-shadow: -1vw 1vw 0vw #ffffebba;
}

.monitor-description {
  background-color: #3c6e71; /* Dark teal color */
  box-shadow: 1vw 1vw 0vw #ffffebba;
}
