<span style="margin-top: 20px; margin-bottom: 30px;display: flex; flex-direction: column; gap:.5rem">
    <label htmlFor="keywords">Keywords seperated by space</label>
    <input pInputText id="keywords" [(ngModel)]="keywords" />
</span>


<span  style="margin-bottom: 20px; display: flex; flex-direction: column; gap: .5rem;">
    <label htmlFor="telegramID">Telegram User ID</label>
    <input pInputText id="telegramID" aria-describedby="telegramID-help" [(ngModel)]="telegramID" />
    <small id="telegramID-help">For help needed <a href="https://www.alphr.com/find-chat-id-telegram/" target="_blank">click
            here</a></small>
</span>

<button pButton type="button" label="Save" (click)="saveKeywords()" [disabled]="keywords==''||telegramID==''"></button>
