<div class="ui-g">
  <div class="ui-g-12 monitor_element">
    <label for="keywords">Enter keywords</label>
    <p-chips
      [(ngModel)]="keywords"
      separator=","
      placeholder="Add a keyword"
    ></p-chips>
  </div>

  <span class="monitor_element">
    <label htmlFor="telegramID">Telegram User ID</label>
    <input
      type="number"
      pInputText
      id="telegramID"
      aria-describedby="telegramID-help"
      placeholder="Ex: 1234567890"
      [(ngModel)]="telegramID"
    />
    <small id="telegramID-help"
      >For help needed
      <a href="https://www.alphr.com/find-chat-id-telegram/" target="_blank"
        >click here</a
      ></small
    >
  </span>

  <span class="monitor_element">
    <label htmlFor="email">Email Address</label>
    <input
      type="email"
      pInputText
      id="email"
      aria-describedby="email-help"
      placeholder="Add an email"
      [(ngModel)]="email"
    />
    <small id="email-help"
      >Note that alerts will be sent to the email address provided when monitor
      is active</small
    >
  </span>

  <span class="monitor_element">
    <label htmlFor="minPrice">Minimum Price</label>
    <input type="number" pInputText [(ngModel)]="minPrice" />
    <p-slider
      [(ngModel)]="minPrice"
      [min]="0"
      [max]="2000"
      class="w-full"
    ></p-slider>
  </span>

  <span class="monitor_element">
    <label htmlFor="maxPrice">Maximum Price</label>
    <input type="number" pInputText [(ngModel)]="maxPrice" />
    <p-slider
      [(ngModel)]="maxPrice"
      [min]="0"
      [max]="2000"
      class="w-full"
    ></p-slider>
  </span>
  <div class="ui-g-12 monitor_element">
    <label for="conditions">Condition</label>
    <p-selectButton
      [options]="conditionOptions"
      [(ngModel)]="selectedConditions"
      [multiple]="true"
    ></p-selectButton>
  </div>

  <div class="ui-g-12 monitor_element">
    <label for="excludeKeywords">Exclude Keywords</label>
    <p-chips
      [(ngModel)]="excludeKeywords"
      separator=","
      placeholder="Add an exclusion"
    ></p-chips>
  </div>

  <div class="ui-g-12" *ngIf="histogramData">
    <!-- Histogram Chart -->
    <p-chart type="bar" [data]="histogramData"></p-chart>
  </div>

  <div class="ui-g-12 button-group">
    <!-- Buttons for actions -->
    <button
      pButton
      type="button"
      label="Check Statistics"
      (click)="checkItemStatistics()"
      [disabled]="!isValidMonitor()"
      class="ui-button-success button-spacing"
    ></button>
    <button
      pButton
      type="button"
      label="Save"
      (click)="saveMonitor()"
      [disabled]="!isValidMonitor()"
      class="ui-button-primary"
    ></button>
  </div>
</div>
