// Custom Theming for Angular Material
@use '@angular/material' as mat;

// Include the common styles for Angular Material.
@include mat.core();

// Custom color configurations
$custom-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 700, A100); // Base color for primary palette
$custom-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400, A700); // Base color for accent palette
$custom-warn: mat.define-palette(mat.$red-palette, 500, 300, 700, A200); // Base color for warn palette

// Custom theme object with your color configurations
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  )
));

// Custom typography configuration using 'Mukta'
$custom-typography: mat.define-typography-config(
  $font-family: 'Mukta, sans-serif'
);

// Applying custom typography to the theme
$custom-theme: map.merge($custom-theme, (typography: $custom-typography));

// Include theme styles for core and each component used in your app.
@include mat.all-component-themes($custom-theme);
