<div id="wrapper">
<h1>Monitor List</h1>
<p-table [value]="(monitors$ | async) ?? []">
  <ng-template pTemplate="header">
    <tr>
      <th>Status</th>
      <th>Keywords</th>
      <th>TelegramID</th>
      <th>Email</th>
      <th>Minimum Price</th>
      <th>Maximum Price</th>
      <th>Condition(s)</th>
      <th>Excluded Keywords</th>
      <th>Most Recent Link</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-monitor>
    <tr>
      <td>
        <p-inputSwitch
          [ngModel]="monitor.active === 1"
          (ngModelChange)="onSwitchChange(monitor.id, $event)"
        ></p-inputSwitch>
      </td>
      <td>{{ monitor.keywords }}</td>
      <td>{{ monitor.chatid }}</td>
      <td>{{ monitor.email }}</td>
      <td>
        <span *ngIf="monitor.min_price">${{ monitor.min_price }}</span>
      </td>
      <td>
        <span *ngIf="monitor.max_price">${{ monitor.max_price }}</span>
      </td>
      <td>{{ getConditionLabels(monitor) }}</td>
      <td>
        <span *ngIf="monitor.exclude_keywords">{{
          monitor.exclude_keywords
        }}</span>
      </td>
      <td>
        <a
          *ngIf="monitor.recentlink"
          [href]="monitor.recentlink"
          target="_blank"
          >eBay Link</a
        >
        <span *ngIf="!monitor.recentlink">None</span>
      </td>
      <td>
        <p-splitButton label="Actions" icon="pi pi-cog" [model]="items(monitor.id)" appendTo="body"></p-splitButton>
      </td>            
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="10">No monitors found</td>
    </tr>
  </ng-template>
</p-table>
</div>
<p-dialog header="Edit Monitor" [(visible)]="showDialog" [modal]="true" [style]="{width:'600px'}">
  <div>
      <app-edit-monitor-menu></app-edit-monitor-menu>
  </div>
</p-dialog>
