<h1>Monitor List</h1>

<p-table [value]="monitors">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Keywords</th>
            <th>TelegramID</th>
            <th>Most Recent Link</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-monitor>
        <tr>
            <td>{{monitor.id}}</td>
            <td>{{monitor.keywords}}</td>
            <td>{{monitor.chatid}}</td>
            <td><a *ngIf="monitor.recentlink" [href]="monitor.recentlink" target="_blank">eBay Link</a>
                <span *ngIf="!monitor.recentlink">None</span></td>
        </tr>
    </ng-template>
</p-table>